@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Admin Page";
}

<h1>Welcome @User.Identity.Name</h1>

<h2>Admin</h2>

<p>Here is an admin page. What would you like to do?</p>
<p>Here be options</p>