@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Admin Page";
}

<h1>Welcome @User.Identity.Name</h1>

<p>What would you like to do?</p>

@Html.ActionLink("View Users", "UserIndex") | 
@Html.ActionLink("View Roles", "RoleIndex")