@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Add New Role";
}

<h2>Add New User Role</h2>

@using (Html.BeginForm())
{
    <p>Enter new User Role:</p>

    @Html.EditorFor(m => m.Name)
    <input type="submit" value="Create Role" />
}