body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
}*/

.comment-table {
    width: 100%;
}

.comment-row {
    width: 100%;
}

.comment-cell {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.user-comment {
    margin: 9px 0 -2px 0;
    padding: 5px 15px;
    background-color: #eeeeee;
    border: solid 1px darkgrey;
    border-radius: 5px;
    width: 100%;
}

.comment-poster {
    font-weight: bold;
}

.comment-options {
    text-align: right;
}

.comment-box {
    max-width: 100%;
    height: auto;   
}

.comment-button {
    color: rebeccapurple;
    padding: 0 5px;
    float: right;
}

.child-comment {
    margin-left: 4%;
    width: 96%;
}

.parent-comment {
    border: solid 2px black;
}